/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Cormorant Garamond", serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f4ece5;
    color:#2b1a12;
    overflow-x:hidden;
}

/* =========================
   HEADER
========================= */

header{
    width:100%;
    padding:20px 8%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position:fixed;
    top:0;
    left:0;

    z-index:1000;

    background:rgba(255,248,242,0.75);

    backdrop-filter:blur(12px);

    box-shadow:0 2px 15px rgba(0,0,0,0.08);
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:#5c2f16;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:#5c2f16;
    font-weight:bold;

    transition:0.3s;
}

nav a:hover{

    color:#74ffb3;
}

/* =========================
   HERO HOME
========================= */

.hero{
    width:100%;
    min-height:100vh;

    background:
    linear-gradient(rgba(35,18,8,0.55), rgba(35,18,8,0.55)),
    url("oleos.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:120px 8%;

    position:relative;
}

.hero::after{
    content:"";

    position:absolute;
    bottom:0;
    left:0;

    width:100%;
    height:160px;

    background:linear-gradient(
        to bottom,
        rgba(0,0,0,0),
        #8a5b3d
    );
}

.hero-content{
    max-width:800px;
    z-index:2;
}

.mini-texto{

    color:#2e6b44;

    font-weight:bold;
    letter-spacing:2px;
}

.hero h1{
    font-size:72px;
    color:#fff3ea;

    margin:20px 0;

    text-shadow:0 5px 15px rgba(0,0,0,0.4);
}

.hero p{
    font-size:24px;
    line-height:1.9;

    margin-bottom:45px;

    color:#f8f2ee;

    font-family:"Times New Roman", Times, serif;

    font-style:italic;

    letter-spacing:0.5px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

/* =========================
   BOTÕES
========================= */

.btn,
.btn-outline{
    padding:16px 38px;

    border-radius:40px;

    text-decoration:none;
    font-weight:bold;

    transition:0.3s;
}

.btn{

    background:#2e6b44;

    color:white;

    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.btn:hover{
    background:#b67447;
    transform:translateY(-3px);
}

.btn-outline{
    border:2px solid #f2d5bf;
    color:#fff;
}

.btn-outline:hover{
    background:#fff;
    color:#5c2f16;
}

/* =========================
   BENEFÍCIOS
========================= */

.beneficios{
    padding:120px 8%;

    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));

    gap:30px;

    background:
    linear-gradient(
        to bottom,
        #8a5b3d,
        #a67c52
    );

    position:relative;
}

.beneficios::after{
    content:"";

    position:absolute;
    bottom:0;
    left:0;

    width:100%;
    height:150px;

    background:linear-gradient(
        to bottom,
        rgba(0,0,0,0),
        #6d3d22
    );
}

.beneficio{
    background:rgba(255,248,243,0.95);

    padding:40px 30px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,0.15);

    transition:0.3s;

    z-index:2;
}

.beneficio:hover{
    transform:translateY(-10px);
}

.beneficio h3{
    margin:20px 0 10px;
    color:#5c2f16;

    font-size:28px;
}

.beneficio p{
    line-height:1.8;
    color:#4b3528;
}

/* =========================
   PRODUTOS
========================= */

#produtos{
    padding:120px 0;

    background:
    linear-gradient(
        to bottom,
        #6d3d22,
        #4e2612
    );

    position:relative;
}

#produtos::after{
    content:"";

    position:absolute;
    bottom:0;
    left:0;

    width:100%;
    height:160px;

    background:linear-gradient(
        to bottom,
        rgba(0,0,0,0),
        #e8d5c3
    );
}

.titulo{
    text-align:center;

    font-size:54px;
    color:#fff5ed;

    margin-bottom:70px;

    text-shadow:0 3px 10px rgba(0,0,0,0.25);
}

.produtos{
    padding:0 8%;

    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px,1fr));

    gap:35px;

    position:relative;
    z-index:2;
}

.card{

    background:#fff8f3;

    border-radius:25px;

    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,0.2);

    transition:0.4s;
}

.card:hover{
    transform:translateY(-12px);
}

.card img{
    width:100%;
    height:260px;

    object-fit:cover;
}

.card-content{
    padding:25px;
}

.card-content h3{
    color:#5c2f16;
    margin-bottom:12px;

    font-size:28px;
}

.card-content p{
    line-height:1.7;
    margin-bottom:20px;

    color:#4b3528;
}

.card-content span{
    display:block;


    font-size:30px;
    font-weight:bold;

    margin-bottom:20px;
}

.card-content a{
    text-decoration:none;
}

.card-content button{
    width:100%;

    padding:15px;

    border:none;
    border-radius:14px;

    background:#c98c61;
    color:white;

    font-size:16px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.card-content button:hover{
    background:#a8673c;
}

/* =========================
   SOBRE
========================= */

.sobre{
    padding:120px 10%;

    background:
    linear-gradient(
        to bottom,
        #e8d5c3,
        #f4ece5
    );

    text-align:center;

    position:relative;
}

.sobre::after{
    content:"";

    position:absolute;
    bottom:0;
    left:0;

    width:100%;
    height:120px;

    background:linear-gradient(
        to bottom,
        rgba(0,0,0,0),
        #5c2f16
    );
}

.sobre h2{
    font-size:52px;
    color:#5c2f16;

    margin-bottom:30px;
}

.sobre p{
    max-width:850px;

    margin:auto;

    font-size:21px;
    line-height:2;

    color:#4a3527;
}

/* =========================
   FOOTER
========================= */

footer{
    background:
    linear-gradient(
        135deg,
        #5c2f16,
        #3a1d0f
    );

    color:white;

    padding:60px 10%;

    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;

    gap:20px;
}

footer p{
    font-size:18px;
    letter-spacing:1px;
}

/* =========================
   PÁGINAS DOS PRODUTOS
========================= */

.produto-hero{
    min-height:100vh;

    padding:140px 10% 80px;

    display:grid;
    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;

    background:
    linear-gradient(rgba(255,245,238,0.92), rgba(255,245,238,0.92)),
    url("oleos.jpg");

    background-size:cover;
    background-position:center;
}

.produto-imagem{
    position:relative;
}

.produto-imagem img{
    width:100%;

    border-radius:30px;

    box-shadow:0 20px 40px rgba(0,0,0,0.15);

    transition:0.4s;
}

.produto-imagem img:hover{
    transform:scale(1.03);
}

.tag-natural{
    position:absolute;

    top:20px;
    left:20px;

    background:#5c2f16;
    color:white;

    padding:10px 20px;

    border-radius:30px;

    font-size:14px;
    font-weight:bold;
}

.produto-info h1{
    font-size:60px;
    color:#5c2f16;

    margin-bottom:20px;
}

.produto-subtitulo{
    font-size:20px;
    line-height:1.8;

    margin-bottom:30px;

    color:#4b3528;
}

.preco{
    font-size:42px;
    font-weight:bold;

    color:#b67447;

    margin-bottom:35px;
}

.produto-beneficios{
    display:grid;
    grid-template-columns:repeat(2,1fr);

    gap:20px;

    margin-bottom:40px;
}

.beneficio-card{
    background:#fff8f3;

    padding:25px;

    border-radius:20px;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);

    transition:0.3s;
}

.beneficio-card:hover{
    transform:translateY(-5px);
}

.beneficio-card h3{
    color:#5c2f16;
    margin-bottom:12px;
}

.beneficio-card p{
    line-height:1.7;
}

.comprar-area{
    display:flex;
    gap:20px;
}

.comprar-btn{
    background:#5c2f16;
    color:white;

    border:none;

    padding:18px 40px;

    border-radius:15px;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.comprar-btn:hover{
    background:#3f1f10;
}

.voltar-btn{
    border:2px solid #5c2f16;

    color:#5c2f16;

    padding:18px 40px;

    border-radius:15px;

    text-decoration:none;
    font-weight:bold;

    transition:0.3s;
}

.voltar-btn:hover{
    background:#5c2f16;
    color:white;
}

/* =========================
   RESPONSIVO
========================= */

@media(max-width:900px){

    header{
        flex-direction:column;
        gap:15px;
    }

    .hero h1{
        font-size:46px;
    }

    .hero-buttons{
        flex-direction:column;
    }

    .produto-hero{
        grid-template-columns:1fr;
    }

    .produto-info h1{
        font-size:42px;
    }

    .produto-beneficios{
        grid-template-columns:1fr;
    }

    .comprar-area{
        flex-direction:column;
    }

    footer{
        flex-direction:column;
        text-align:center;
    }

}